<div class="row">
  <div class="col col-sm-8 mx-auto">
    <h1 class="text-center">URL Shortener</h1>
    <div class="img-container">
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="URL-image"
      />
    </div>
    <h2 class="text-center">Oops! something error occurred!</h2>
    <p class="text-center">{{error}}</p>
  </div>
</div>