<div class="row">
  <div class="col col-sm-8 mx-auto">
    <h1 class="text-center">URL Shortener</h1>
    <div class="img-container">
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="URL-image"
      />
    </div>
    <form action="/" , method="POST" class="text-center mt-2">
      <input
        type="text"
        class="form-control"
        placeholder="Input URL here ..."
        name="originalURL"
        value="{{originalURL}}"
        required
      />
      <button type="submit" class="btn btn-primary mt-2">Go !</button>
    </form>
    {{#if errorMessage}}
      <div class="alert alert-secondary text-center" role="alert">
        {{{errorMessage}}}
      </div>
    {{/if}}
    {{#if shorterURL}}
      <div class="alert alert-secondary text-center" role="alert">
        <code>New URL is :
          <a
            href="/{{shorterURL}}"
            target="_blank"
          >http:localhost:3000/{{shorterURL}}</a></code>
      </div>
    {{/if}}
  </div>
</div>