<div class="row">
  <div class="col col-sm-8 mx-auto">
    <div class="img-container">
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="URL-image"
      />
    </div>
    <form
      action="/"
      method="POST"
      class="needs-validation text-center mt-2"
      id="form"
      novalidate
    >
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Input URL here ..."
          name="originalURL"
          value="{{originalURL}}"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This field is required !
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Go !</button>
    </form>
    {{#if invalidMessage}}
      <div class="alert alert-secondary text-center" role="alert">
        {{{invalidMessage}}}
      </div>
    {{/if}}
    {{#if shorterURL}}
      <div class="alert alert-secondary text-center" role="alert">
        <code class="me-2">New URL is :
          <a
            href="/{{shorterURL}}"
            target="_blank"
            id="shorterURL"
          >http://localhost:3000/{{shorterURL}}</a></code>
        <button type="button" class="btn btn-primary" id="copyBtn">Copy</button>
      </div>
    {{/if}}
  </div>
</div>